body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.container {
    width: 100%;
    height: 300px; /* لجعل العنصر متوسط الارتفاع على الشاشة بغض النظر عن الحجم */
}

h2 {
    text-align: center;
    color: #333;
}

#keysDisplay {
    margin-bottom: 20px;
}

#loginForm h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

  }

        input[type="email"],

        input[type="password"],

        button {

            width: 100%;

            padding: 10px;

            margin-bottom: 10px;

            border: 1px solid #ccc;

            border-radius: 5px;

            box-sizing: border-box;

            font-size: 16px;

        }

        button {

            background-color: #007bff;

            color: #fff;

            cursor: pointer;

            transition: background-color 0.3s;

        }

        button:hover {

            background-color: #0056b3;

        }

.column {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.keyElement {
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    line-height: 1.4;
}

.keyElement:hover {
    background-color: #e0e0e0;
}

#dataDisplay {
    flex: 1;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

#mediaBox {
    max-width: 100vh;
    height: 300px;
    background-color: #fff;
    margin-top: 100px;
    overflow-y: scroll;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mediaBox img, #mediaBox video {
    height: 150px;
    margin-bottom: 10px;
    
}

  img {
  border: 2px solid #fff; /* عرض الإطار ولونه */
  border-radius: 1px; /* إضافة حواف مستديرة للإطار */
  }

#loginForm {
    display: none; /* يخفي النموذج في البداية */
}
